control_ws/build/
control_ws/logs/
control_ws/devel/
control_ws/.catkin_tools/
control_ws/pkg.rosinstall

tango_sim_ws/build/
tango_sim_ws/logs/
tango_sim_ws/devel/
tango_sim_ws/.catkin_tools/
tango_sim_ws/.tango_description/
tango_sim_ws/src/tango_description/build/

__pycache__/
files/tango_render.png:Zone.Identifier
scripts/I2C_LCD_driver.pyc
.vscode/
build/
.catkin_workspace
