project_tango_ws/build/
project_tango_ws/logs/
project_tango_ws/devel/
project_tango_ws/.catkin_tools/

tango_sim_ws/build/
tango_sim_ws/logs/
tango_sim_ws/devel/
tango_sim_ws/.catkin_tools/

__pycache__